<!DOCTYPE html>
<title>Brown Rice Salad</title>
<h1>Sweet and Sour Brown Rice Salad</h1>
<h2>Ingredients</h2>
<h2>Salad</h2>
<ul>
    <li>4 cups cooked and cooled brown rice</li>
    <li>1 15 oz. can adzuki or red beans</li>
    <li>2 cups mung bean sprouts</li>
    <li>1 cup thinly sliced scallions</li>
    <li>1/2 cup whole roasted peanuts</li>
    <li>1/4 cup chopped fresh mint</li>
    <li>1/2 cup chopped fresh cilantro</li>
</ul>
<h2>Dressing</h2>
<ul>
    <li>2 tablespoons mellow white miso</li>
    <li>1 cup sweet chili sauce</li>
    <li>1/4 cup fresh lime juice</li>
    <li>1 teaspoon grated fresh ginger</li>
    <li>1 teaspoon agave nectar</li>
</ul>
<h1>-------------------------------</h1>
<h2>Instructions</h2>
<ol>
    <li>In a large bowl, toss together all the salad ingredients.</li>
    <li>Dressing:  In a small bowl, use a fork to vigorously mix together all of the dressing ingredients.</li>
    <li>Drizzle the dressing onto the salad and toss to coat.  Serve with sriracha for some extra heat.</li>
</ol>

<a href="http://127.0.0.1:5000/index">back to main page</a>