<!DOCTYPE html>
<title>Curry Ramen</title>
<h1>Curry Ramen</h1>
<h2>Ingredients</h2>
<ul>
    <li>1 tablespoon sesame oil</li>
    <li>1 cup sugar snap peas</li>
    <li>1 cup shredded carrots</li>
    <li>8 oz. sliced mushrooms</li>
    <li>1-3 tablespoons red curry paste</li>
    <li>2 teaspoons curry powder</li>
    <li>6 cloves garlic, minced</li>
    <li>2 teaspoons minced ginger</li>
    <li>6 cups vegetable broth</li>
    <li>1 (13.5 oz.) coconut milk</li>
    <li>8 oz. ramen noodles</li>
    <li>Juice of 1 lime</li>
    <li>Kosher salt</li>
    <li>Fresh cracked pepper</li>
</ul>
<h1>-------------------------------</h1>
<h2>Instructions</h2>
<ol>
    <li>Add oil in a large pot or dutch oven over medium heat.</li>
    <li>Add carrots, peas and mushrooms along with a large pinch of salt and pepper. Cook for 3 minutes, stirring occasionally.</li>
    <li>Add curry paste, curry powder, garlic and ginger and cook for 1 minute, stirring.</li>
    <li>Stir in broth and coconut milk and season to taste with salt and pepper.</li>
    <li>Turn heat to medium high and bring to a simmer.</li>
    <li>Add ramen noodles and cook for 10 minutes or until noodles are al dente.</li>
    <li>Stir in the juice of 1 lime and serve!</li>
    <li>Garnish with cilantro, jalapeno and lime wedges.</li>
</ol>

<a href="http://127.0.0.1:5000/index">back to main page</a>