<!DOCTYPE html>
<title>Healthy Burrito</title>
<h1>Vegan Burrito</h1>
<h2>Ingredients for Black Beans and Corn</h2>
<ul>
    <li>1/2 Medium Onion (Chopped)</li>
    <li>1 Tbsp Olive Oil</li>
    <li>1/4 tsp Cayenne Pepper</li>
    <li>1/4 tsp Dried Chili Flakes</li>
    <li>1/2 tsp Ground Cumin</li>
    <li>1 15oz (425g) Can Black Beans (Drained)</li>
    <li>1 15oz (425g) Can Sweet Corn (Drained)</li>
    <li>1/4 cup (60ml) Water</li>
    <li>Salt and Pepper (To Taste)</li>
</ul>
<h2>Ingredients for the Sundried Tomato Basmati Rice</h2>
<ul>
    <li>3 cups Cooked Basmati Rice</li>
    <li>12 Sundried Tomatoes (Chopped)</li>
    <li>1 Tbsp Lime Juice (Freshly Squeezed)</li>
    <li>Salt and Pepper (To Taste)</li>
</ul>
<h2>Ingredients for the Guacamole</h2>
<ul>
    <li>2 Avocados</li>
    <li>1 Tbsp Lime Juice (Freshly Squeezed)</li>
    <li>Salt and Pepper (To Taste)</li>
</ul>
<h2>For Assembling/Serving</h2>
<ul>
    <li>Pico De Gallo Salsa</li>
    <li>Vegan Sour Crean</li>
    <li>8 Large Soft Flour Tortillas</li>
    <li>3 cups Shredded Lettuce</li>
</ul>
<h2>Instructions</h2>
<ol>
    <li>Prepare your black beans and corn mix. Add the chopped onion and olive oil to a frying pan along with the cayenne pepper, dried chili flakes and cumin and sauté until the onions are softened.</li>
    <li>Add in the black beans and sweet corn along with the water and stir fry until most of the water has cooked off. Add salt and pepper to taste. Leave to cool while you prepare the other ingredients.</li>
    <li>Prepare your sundried tomato basmati rice. Add the cooked rice to a bowl and then add in the chopped sundried tomatoes and lime juice and toss until well mixed in. Add sea salt and black pepper to taste. Set aside.</li>
    <li>Prepare the guacamole. Add peeled and chopped avocados to a bowl and mash with a fork. Add in the lime juice and salt and pepper to taste.</li>
    <li>Prepare your tortillas. Warm your tortillas in the oven (follow package directions) for around 10 minutes wrapped in foil.</li>
    <li>Assemble. Lie a tortilla down flat on a plate. Add some sundried tomato basmati rice to the center of the tortilla, followed by some black bean and corn mix, followed by some shredded lettuce. Then add some pico de gallo then some vegan sour cream and top with guacamole. Fold in the sides and then roll it up and wrap in foil. Continue with the next tortilla.</li>
    <li>Serve. Cut the burritos in half and serve.</li>
</ol>

<a href="http://127.0.0.1:5000/index">back to main page</a>